<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Colour</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price</strong>
  <%= @product.price %>
</p>

<div class="container-fluid">
  <p>
  	<a class="btn btn-default" role="button" <%= link_to 'Edit Product', edit_product_path(@product) %></a> |
  	<a class="btn btn-default" role="button" <%= link_to 'Back to Main', products_path %></a>
  </p>
</div>